# Copyright (c) IBM Corporation 2019, 2020
# Apache License, Version 2.0 (see https://opensource.org/licenses/Apache-2.0)

#ibmi-fix-repo-sample.yml 
#The sample file is to provide an example about how to manipulate the PTF database
---
- hosts: all
  gather_facts: false
  collections:
   - ibm.power_ibmi

  tasks:
    - block:
      - name: add some download status records
        ibmi_fix_repo:
          action: 'add'
          type: 'download_status'
          parameters:
            - {'order_id':'2020579181', 'file_path':'/QIBM/UserData/OS/Service/ECS/PTF/2020579181', 'download_status':'downloaded'}
            - {'order_id':'2023203121', 'file_path':'/QIBM/UserData/OS/Service/ECS/PTF/2023203121', 'download_status':'downloading'}
            - {'order_id':'999999', 'file_path':'/QIBM/UserData/OS/Service/ECS/PTF/999999', 'download_status':'downloaded'}
        register: dsps_param_result_0

      - name: Assert the returned parameters
        assert:
          that:
            - dsps_param_result_0.row_changed | int == 3

      - name: query some PTFs records
        ibmi_fix_repo:
          action: "find"
          type: 'download_status'
          parameters:
            - {'order_id':'2020579181', 'file_path':'/QIBM/UserData/OS/Service/ECS/PTF/2020579181'}
            - {'order_id':'2023203121'}
            - {'order_id':'1231231231'}
        register: dsps_param_result_2

      - name: Assert the returned parameters
        assert:
          that:
            - dsps_param_result_2.fail_list | length == 1
            - dsps_param_result_2.fail_list[0].db_record == 'RECORD_NOT_FOUND'
            - dsps_param_result_2.fail_list[0].order_id == '1231231231'
            - dsps_param_result_2.success_list | length == 2

      - name: delete some PTFs records
        ibmi_fix_repo:
          action: "delete"
          type: 'download_status'
          parameters:
            - {'order_id':'2020579181', 'file_path':'/QIBM/UserData/OS/Service/ECS/PTF/2020579181'}
        register: dsps_param_result_3

      - name: Assert the returned parameters
        assert:
          that:
            - dsps_param_result_3.row_changed | int == 1

      - name: query some PTFs records
        ibmi_fix_repo:
          action: "find"
          type: 'download_status'
          parameters:
            - {'order_id':'2020579181'}
            - {'order_id':'2023203121'}
        register: dsps_param_result_4

      - name: Assert the returned parameters
        assert:
          that:
            - dsps_param_result_4.fail_list | length == 1
            - dsps_param_result_4.fail_list[0].db_record == 'RECORD_NOT_FOUND'
            - dsps_param_result_4.fail_list[0].order_id == '2020579181'
            - dsps_param_result_4.success_list | length == 1

      - name: update some PTFs records
        ibmi_fix_repo:
          action: "update"
          type: 'download_status'
          parameters:
            - {'order_id':'2023203121', 'download_status':'downloaded'}
        register: dsps_param_result_5

      - name: Assert the returned parameters
        assert:
          that:
            - dsps_param_result_5.row_changed | int == 1

      - name: query some PTFs records
        ibmi_fix_repo:
          action: "find"
          type: 'download_status'
          parameters:
            - {'order_id':'2023203121'}
        register: dsps_param_result_6

      - name: Assert the returned parameters
        assert:
          that:
            - dsps_param_result_6.success_list | length == 1
            - dsps_param_result_6.success_list[0].download_status == 'downloaded'
            - dsps_param_result_6.success_list[0].order_id == '2023203121'

      always:
      - name: run sql to drop the table
        ibmi_fix_repo:
          action: "clear"
          type: 'download_status'
