---
# Retrive vm info from OpenStack
- name: Retrive vm info
  os_server_info:
    auth:
      auth_url: https://{{ ansible_ssh_host }}:5000/v3
      username: '{{ ansible_ssh_user }}'
      password: '{{ ansible_ssh_pass }}'
      project_name: '{{ project }}'
      project_domain_name: '{{ project_domain }}'
      user_domain_name: '{{ user_domain }}'
    server: '{{ vm_name }}'
    verify: '{{ verify_cert }}'
  register: vm_info_result